<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<form action="/edit_user_profile" method="POST">

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Username</span>
  <input type="text" class="form-control" aria-describedby="basic-addon1" value={{user.username}}>
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Password</span>
  <input type="password" class="form-control" aria-describedby="basic-addon1" value={{user.password}}>
</div>

  {% if user.nickname is not none %}  	
	<div class="input-group">
  		<span class="input-group-addon" id="basic-addon1">Nickname</span>
  		<input type="text" class="form-control" aria-describedby="basic-addon1" value={{user.nickname}}>
	</div>    	
  {% else %}
  	<div class="input-group">
  		<span class="input-group-addon" id="basic-addon1">Nickname</span>
  		<input type="text" class="form-control" aria-describedby="basic-addon1" value="">
	</div>    	  	
  {% endif %}	
  {% if user.email is not none %}  	
  	<div class="input-group">
  		<span class="input-group-addon" id="basic-addon1">Email</span>
  		<input type="text" class="form-control" aria-describedby="basic-addon1" value={{user.email}}>
	</div>    	  	
  {% else %}
  	<div class="input-group">
  		<span class="input-group-addon" id="basic-addon1">Email</span>
  		<input type="text" class="form-control" aria-describedby="basic-addon1" value="">
	</div>    	  	
  {% endif %}	  
  <input type="submit" value="Save">
</div>
</form>
{% endblock %}